<form method="get" action="quizes">
	<input type="text" name="search" value=""/>
	<input type="submit" value="Buscar"/>
	<br>
</form>
<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
	</tr> 
<% } %>
</table>
<a href="quizes/new"><button type="button">Crear pregunta</button></a>
